<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<h1>Halo <%= @current_user.welcome %> </h1>

<%= form_with method:"post", url: auth_logout_path do |form| %>
  <%= form.submit "Logout" %>  
<% end %>